.clientsWrapper {
    width: 100%;
    height: 1080px;
    min-width: 1560px;

    ul {
      margin-bottom: 100px;
    }
    &.dark {
        background-image: url("../pngs/clients-back-black.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #001137;

      }
    
      &.light {
        background-color: white;
      }

    .clientsContent {
        display: flex;
        align-items: center;
        flex-direction: column;

        .title {
            margin-top: 90px;
            margin-bottom: 150px;
          }

          .sliderWindow {
            display: grid;
            grid-template-columns: 230px 230px 230px 230px 230px;
            row-gap: 10px;
            margin: o auto;
          }

          .carousel {
          width: 1150px;

          }


    }
}
