.portfolioWrapper {
  width: 100%;
  height: 1080px;
  min-width: 1560px;

  &.dark {
    background-color: #001137;

  }

  &.light {
    background-color: white;
  }

  .portfolioContent {
    width: 100%;

    .title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
    }

    .tabsContentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .tabs {
        height: 70px;
        width: 1560px;
        min-width: 1200px;
        display: flex;
        padding-bottom: 1px;

        &.dark {
          border-bottom: 1.5px solid white;

          .tab {
            color: white;

            &.active {
            border-bottom: 4px solid rgba(0, 237, 255, 1);
            color: rgba(0, 237, 255, 1);
            font-weight: 600;
          }
          }
        }

        &.light {
          border-bottom: 1.5px solid black;

          .tab {
            color: rgba(56, 56, 56, 1);

            &.active {
            border-bottom: 4px solid black;
            color: black;
            font-weight: 600;
          }
          }
        }

        .tab {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          font-size: 18px;
          font-weight: 400;
          cursor: pointer;
          z-index: 2;

          
          p {
            cursor: pointer;
            text-align: center;
            margin: 0;
            width: min-content;
          }
        }
      }



      
      .tabsContent {
        padding-top: 80px;
        height: 764px;
        width: 1560px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
