.reasonsWrapper {
  width: 100%;
  height: 1080px;
  min-width: 1560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.dark {
    background-image: url("../pngs/reasons-back-black.webp");
  }

  &.light {
    background-image: url("../pngs/reasons-back-light.webp");
  }

  .reasonsContent {
    display: flex;
    align-items: center;
    flex-direction: column;

   
    .title {
      margin-top: 94px;
    }

    section.reasonsWrap {
      width: 1533px;
      min-height: 585px;
      margin-top: 110px;
      display: flex;
      justify-content: space-between;

      .leftContent {
        width: 636px;
        min-height: 585px;
        position: relative;

        section {
          position: absolute;
          &:first-child {
            top: 0;
            right: 0;
          }
          &:nth-child(2) {
            top: 226px;
            left: 0;
          }

          &:last-child {
            top: 480px;
            right: 0;
          }
        }
      }
      .playContentBlack {
        width: 220px;
        position: relative;

        svg {
          position: absolute;
          top: 140px;
        }
      }
      .playContentLight {
        width: 220px;
        position: relative;

        img {
          position: absolute;
          top: 100px;
          left: -40px;
        }
      }

      .playContent {
        width: 220px;
        position: relative;

        svg {
          position: absolute;
          top: 140px;
        }
      }
      .rightContent {
        width: 636px;
        min-height: 585px;
        position: relative;

        section {
          position: absolute;
          &:first-child {
            top: 0;
            left: 0;
          }
          &:nth-child(2) {
            top: 226px;
            right: 0;
          }

          &:last-child {
            top: 480px;
            left: 0;
          }
        }
      }
    }
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* Adjust the size of the arrow */
    border-right: 20px solid transparent; /* Adjust the size of the arrow */
    border-bottom: 40px solid #007bff;
  }
  //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  .container {
    width: 30px;
    height: 20px;
    overflow: hidden;
  }

  .arrowContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .shimmeringArrow {
    width: 100%;
    height: 4px; /* Height of the arrow */
    background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    background-size: 100% 200%;
    animation: shimmer 2s infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: 0 -200%;
    }
    100% {
      background-position: 0 200%;
    }
  }
}
