.videoSimpleWrapper {
  width: 520px;
  height: 324px;
  position: relative;

  .empty1 {
    position: absolute;
    top: 40px;
    left: 35px;
    width: 20px;
    height: 20px;
    background: white;
    z-index: 2;
    border-radius:  0 0 100% 0 ;
    
  }

  .empty2 {
    position: absolute;
    top: 39px;
    right: 34px;
    width: 20px;
    height: 20px;
    background: white;
    z-index: 2;
    border-radius:  0 0 0 100% ;
  }

  .empty3 {
    position: absolute;
    bottom: 34px;
    right: 34px;
    width: 20px;
    height: 20px;
    background: white;
    z-index: 2;
    border-radius:  100% 0 0 0  ;
  }
  .empty4 {
    position: absolute;
    bottom: 32px;
    left: 34px;
    width: 20px;
    height: 20px;
    background: white;
    z-index: 2;
    border-radius:   0 100% 0 0  ;
  }
  .empty5 {
    position: absolute;
    bottom: 32px;
    left: 34px;
    width: 450px;
    height: 10px;
    background: white;
    z-index: 2;
  }


  .videoSimpleContent {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;

    &.dark {
      background-image: url("../pngs/video-simple-frame-black.png");
    }

    &.light {
      background-image: url("../pngs/video-simple-frame-light.png");
    }
  }
}
