.videoMakingWrapper {
  width: 100%;
  height: 1080px;
  min-width: 1560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.dark {
    background-image: url("../pngs/videomaking-backg-dark2.webp");
  }

  &.light {
    background-image: url("../pngs/videomaking-backg-light.webp");
  }

  .videoMakingContent {
    .videoMakingTitleBlockWrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .videoMakingTitleBlock {
        width: 1600px;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;

        &.dark {
          background-image: url("../pngs/video-title-dark.webp");
        }
        &.light {
          background-image: url("../pngs/video-title-light.webp");
          margin-top: 100px;
        }
        .divider {
          margin: 0 75px;

          &.dark {
            height: 37px;
            width: 2.7px;
            background-color: #00edff;
            box-shadow: 0px 0px 8px #00edff;
          }

          &.light {
            height: 34px;
            width: 2.7px;
            background-color: black;
          }
        }
      }
    }

    .digits {
      width: 100%;
      display: flex;
      width: 1153px;
      margin: 0 auto;
      justify-content: space-between;
      margin-top: 10px;

      &.dark {
        margin-bottom: 50px;
        height: 384px;
      }
      &.light {
        height: 364px;
      }
      .circle {
        width: 298px;
        height: 324px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        &.dark {
          background-image: url("../pngs/video-making-circle.webp");
          p {
            &:first-child {
              color: rgba(0, 237, 255, 1);
            }
            &:last-child {
              color: white;
            }
          }
        }

        &.light {
          background-image: url("../pngs/video-making-circle-light.webp");
          .circleText p {
            color: black;
          }
        }

        &:last-child,
        &:first-child {
          align-self: flex-end;
          width: 287px;
          height: 312px;
        }

        .circleText {
          width: 170px;
          margin-bottom: 20px;
          margin-left: 20px;

          p {
            margin: 0;
            text-align: center;

            &:first-child {
              font-size: 60px;
              font-weight: 600;
              line-height: 41.52px;
            }
            &:last-child {
              font-size: 18px;
              font-weight: 500;
              line-height: 16.41px;
              margin-top: 20px;
            }
          }
        }
      }
    }

    .playBlock {
      position: relative;
      width: 1560px;
      height: 496px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;

      &.dark {
        background-image: url("../pngs/video-frame-black.webp");
      }
      &.light {
        background-image: url("../pngs/video-frame-light.webp");
      }

      .playButton {
        position: absolute;

        transform: translate3d(0, -10%, 0);
        animation: spin 1.4s infinite ease-in-out;

        &.dark {
          left: 46%;
        }

        &.light {
          left: 40%;

          @media screen and (max-width: 1750px) {
            left: 42%;
          }
          @media screen and (max-width: 1600px) {
            left: 41%;
          }
          @media screen and (max-width: 1500px) {
            left: 40%;
          }
          @media screen and (max-width: 1400px) {
            left: 39%;
          }
        }
      }

      p.playDescript {
        margin: 0;
        text-shadow: 0px 0px 5px #00edff;
        font-size: 28px;
        width: 280px;
        text-align: center;
        font-weight: 600;
        position: absolute;
        transition: 0.5s;

        &.dark {
          color: rgba(0, 237, 255, 1);

          &:last-child {
            left: 1240px;
            top: 260px;
            &:hover {
              font-size: 30px;
            }
          }
  
          &:nth-child(2) {
            left: 310px;
            top: 80px;
            &:hover {
              font-size: 30px;
              width: 300px;
  
            }
          }
  
          &:nth-child(3) {
            left: 40px;
            top: 280px;
            &:hover {
              font-size: 30px;
              width: 300px;
  
            }
          }
  
          &:nth-child(4) {
            left: 960px;
            top: 80px;
            &:hover {
              font-size: 30px;
            }
          }

        }

        &.light {
          color: #383838;
          text-shadow: none;

          &:last-child {
            left: 1160px;
            top: 240px;
            &:hover {
              font-size: 30px;
            }
          }
  
          &:nth-child(2) {
            left: 350px;
            top: 40px;
            &:hover {
              font-size: 30px;
              width: 300px;
  
            }
          }
  
          &:nth-child(3) {
            left: 120px;
            top: 240px;
            &:hover {
              font-size: 30px;
              width: 300px;
  
            }
          }
  
          &:nth-child(4) {
            left: 920px;
            top: 40px;
            &:hover {
              font-size: 30px;
            }
          }
          
        }

        
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: translate3d(0, -10%, 0);
  }
  50% {
    transform: translate3d(0, 10%, 0);
  }
  100% {
    transform: translate3d(0, -10%, 0);
  }
}
