.videoMakingWrapper {
  width: 100%;
  height: 940px;
  min-width: 1560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 1560px) {
    min-width: 1200px;
  }
  
  &.dark {
    background-image: url("../pngs/videomaking-backg-dark2.png");
  }

  .videoMakingContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .videoEllipse {
     
      // border: 1px solid red;
      position: absolute;
      top: 400px;

      &.dark {
        background-image: url("../pngs/videomaking-ellipse-dark.png");
        width: 1227px;
        height: 190px;
      }
      &.light {
        background-image: url("../pngs/videomaking-ellipse-light.png");
        width: 892px;
        height: 177px;
        z-index: 1;
      }
    }

    .videoMakingTitleBlockWrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      .videoMakingTitleBlock {
        margin-left: 50px;
        width: 1460px;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;

        &.dark {
          background-image: url("../pngs/video-title-dark.webp");
        }
        &.light {
          background-image: url("../pngs/video-title-light.webp");
        }
        .divider {
          margin: 0 75px 0 30px;

          &.dark {
            height: 37px;
            width: 2.7px;
            background-color: #00edff;
            box-shadow: 0px 0px 8px #00edff;
          }

          &.light {
            height: 34px;
            width: 2.7px;
            background-color: black;
          }
        }
      }
    }

    .digits {
      width: 100%;
      display: flex;
      width: 1040px;
      margin: 0 auto;
      justify-content: space-between;
      margin-top: 10px;

      &.dark {
        margin-bottom: 50px;
        height: 354px;
      }
      &.light {
        height: 364px;
      }
      .circle {
        width: 270px;
        height: 304px;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        &.dark {
          background-image: url("../pngs/video-making-circle.webp");
          p {
            &:first-child {
              color: rgba(0, 237, 255, 1);
            }
            &:last-child {
              color: white;
              margin-right: 20px;
            }
          }

          &:nth-child(1),
          &:nth-child(3) {
            .circleText {
              width: 170px;
              margin-bottom: 30px;
              margin-left: 0px;

              p {
                margin: 0;
                text-align: center;

                &:first-child {
                  font-size: 55px;
                  font-weight: 600;
                  line-height: 31.52px;
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 15px;
                  margin-top: 20px;
                }
              }
            }
          }
          &:nth-child(2) {
            .circleText {
              width: 170px;
              margin-bottom: 30px;
              margin-left: 10px;

              p {
                margin: 0;
                text-align: center;

                &:first-child {
                  font-size: 55px;
                  font-weight: 600;
                  line-height: 31.52px;
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 15px;
                  margin-top: 20px;
                }
              }
            }
          }
        }

        &.light {
          background-image: url("../pngs/video-making-circle-light.webp");
          .circleText p {
            color: #383838;

            &:last-child {
              margin-right: 20px;
            }
          }

          &:nth-child(1),
          &:nth-child(3) {
            .circleText {
              width: 170px;
              margin-bottom: 10px;
              margin-left: 14px;

              p {
                margin: 0;
                text-align: center;

                &:first-child {
                  font-size: 55px;
                  font-weight: 600;
                  line-height: 31.52px;
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 15px;
                  margin-top: 20px;
                  margin-right: 10px;
                }
              }
            }
          }
          &:nth-child(2) {
            .circleText {
              width: 170px;
              margin-bottom: 10px;
              margin-left: 10px;

              p {
                margin: 0;
                text-align: center;

                &:first-child {
                  font-size: 55px;
                  font-weight: 600;
                  line-height: 31.52px;
                }
                &:last-child {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 15px;
                  margin-top: 20px;
                  margin-right: 20px;
                }
              }
            }
          }
        }

        &:last-child,
        &:first-child {
          align-self: flex-end;
          width: 270px;
          height: 280px;
        }
      }
    }

    .playBlock {
      position: relative;
      width: 1460px;
      height: 376px;
      margin: 0 auto;

      .centerElem {
        width: 605px;
        height: 435px;
        position: absolute;
        bottom: 0;
        left: 440px;

        &.dark {
          background-image: url("../pngs/videomaking-center-black.png");
        }
        &.light {
          background-image: url("../pngs/videomaking-center-light.png");
        }
      }

      .partEl {
        width: 254px;
        height: 180px;
        position: absolute;
        bottom: 0;

        &.dark {
          background-image: url("../pngs/videomaking-part-part-black.png");
        }
        &.light {
          background-image: url("../pngs/videomaking-part-part-light.png");
        }

        &.first {
          left: 150px;
        }
        &.second {
          left: 1080px;
        }
      }
      .partFullEl {
        width: 254px;
        height: 228px;
        position: absolute;

        &.dark {
          background-image: url("../pngs/videomaking-part-full-black1.png");
        }
        &.light {
          background-image: url("../pngs/videomaking-part-full-light.png");
        }

        &.first {
          left: 350px;
        }
        &.second {
          left: 880px;
        }
      }

      .playButton {
        position: absolute;
        top: -90px;
        z-index: 2;
        transform: translate3d(0, -10%, 0);
        animation: spin 1.4s infinite ease-in-out;

        &.dark {
          left: 46%;
        }

        &.light {
          left: 42%;
        }
      }

      p.playDescript {
        margin: 0;
        text-shadow: 0px 0px 5px #00edff;
        font-size: 24px;
        width: 280px;
        text-align: center;
        font-weight: 600;
        position: absolute;
        transition: 0.5s;
        z-index: 3;

        &:hover {
          font-size: 28px;
        }
        &.one {
          bottom: 120px;
          left: 140px;
        }
        &.two {
          top: 0px;
          left: 340px;
        }
        &.three {
          top: 0px;
          left: 865px;
        }
        &.four {
          bottom: 120px;
          left: 1070px;
        }
        &.dark {
          color: rgba(0, 237, 255, 1);
        }

        &.light {
          color: #383838;
          text-shadow: none;

          &:hover {
            color: #49A7FF;
          }
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: translate3d(0, -10%, 0);
  }
  50% {
    transform: translate3d(0, 10%, 0);
  }
  100% {
    transform: translate3d(0, -10%, 0);
  }
}
