.videoPlayer {
  position: relative;

  &.big {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .playBtn {
      width: 100px;
      height: 100px;
      background: #00000040;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
  
      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left: 24px solid rgba(0, 237, 255, 1);
        top: 30px;
        left: 44px;
      }
    }
    
    &.dark {
      background-image: url("../pngs/videoPlayer-big-black.webp");
  
      iframe {
        position: absolute;
        top: 104px;
        left: 76px;
      }
  
      .screen {
        position: absolute;
        top: 104px;
        left: 76px;
        width: 598px;
        height: 296px;
        z-index: 2;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../pngs/videoBig-back.png");
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &.light {
      background-image: url("../pngs/videoPlayer-big-light.webp");
  
      iframe {
        position: absolute;
        top: 73px;
        left: 62px;
      }
  
      .screen {
        position: absolute;
        top: 73px;
        left: 62px;
        width: 628px;
        height: 332px;
        z-index: 2;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../pngs/videoBig-back.png");
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .pulse {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;

      &::after,
      &::before {
        content: "";
        position: absolute;
        background: linear-gradient(137.83deg, rgba(0, 118, 228, 0.8) -38%, rgba(122, 191, 255, 0.8) 21.36%, rgba(193, 253, 254, 0.8) 80.72%, rgba(152, 252, 254, 0.8) 140.08%);
        left: -20px;
        opacity: 0;
        right: -20px;
        top: -20px;
        bottom: -20px;
        border-radius: 50%;
        animation: pulse 2.5s linear infinite;
      }

      &::after {
        animation-delay: 1.25s;
      }

      @keyframes pulse {
        0% {
          transform: scale(0.5);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: scale(1.1);
          opacity: 0;
        }
      }
    }
  }



  &.little {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .playBtn {
      width: 74px;
      height: 74px;
      background: #00000040;
      border-radius: 50%;
      position: relative;
      cursor: pointer;

      .triangle {
        position: absolute;
        width: 0;
        height: 0;
        border: 14px solid transparent;
        border-left: 18px solid rgba(0, 237, 255, 1);
        top: 24px;
        left: 30px;
      }
    }

    &.dark {
      background-image: url("../pngs/videoPlayer-big-black.webp");

      iframe {
        position: absolute;
        top: 50px;
        left: 51px;
      }

      .screen {
        position: absolute;
        top: 50px;
        left: 51px;
        width: 401px;
        height: 199px;
        z-index: 2;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../pngs/videoBig-back.png");
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
    }

    &.light {
      background-image: url("../pngs/videoPlayer-big-light.webp");

      iframe {
        position: absolute;
        top: 40px;
        left: 42px;
      }

      .screen {
        position: absolute;
        top: 40px;
        left: 42px;
        width: 420px;
        height: 220px;
        z-index: 2;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../pngs/videoBig-back.png");
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
    }
  }
}
