.workStagesWrapper {
  width: 100%;
  height: 100vh;
  min-width: 1560px;
  min-height: 940px;


  &.dark {
    background-color: #001137;
  }

  &.light {
    background-color: white;
  }

  .workStagesContent {
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .stages {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      &.dark {
        width: 1320px;
        height: 737px;
        background-image: url("../pngs/workStages-black.webp");

      }
    
      &.light {
        width: 1350px;
        height: 740px;
        background-image: url("../pngs/workStages-light.webp");
      }
    }
  }
}
